server:
  port: 8080

spring:
  config:
    import: optional:file:.env
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
logging:
  level:
    liquibase: debug

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
token:
  signing:
    key: ${KEY_TOKEN}

app:
  es:
    url: http://localhost:9200
  embed:
    url: http://localhost:8000/embed
  search:
    url: http://localhost:8001/search/books